<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <title>SweetWoodFlora</title>
    <link rel="icon" href="{% static 'images/sw_logo_round.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <section id="nav">
      <div
        class="container-fluid nav-container border-bottom border-2 border-dark"
      >
        <div>
          <img
            class="nav-image"
            src="{% static 'images/sw_logo.jpg' %}"
            alt="logo"
          />
        </div>
        <div class="w-100 text-center">
          <h1 class="nav-text">SweetWood Flora</h1>
        </div>
      </div>
    </section>
    <section id="search">
      <div class="container w-75 d-flex border-2 justify-content-center">
        <form id="searchSection" class="w-50 d-flex flex-row">
          <div class="mb-3" style="width: 100%">
            <label for="searchBar" class="form-label"></label>
            <input
              type="text"
              class="form-control"
              id="searchBar"
              aria-describedby="flowerLookUp"
            />
          </div>
          <button type="submit" class="btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search-heart-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 13a6.47 6.47 0 0 0 3.845-1.258h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1A6.47 6.47 0 0 0 13 6.5 6.5 6.5 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13m0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"
              />
            </svg>
          </button>
        </form>
      </div>
      <div
        id="searchResults"
        class="container w-75 my-1 border-2 border p-0 search-results-container"
      >
        <table class="table table-striped-columns m-0 p-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Unit Price</th>
            </tr>
          </thead>
          <tbody id="searchResultsTable"></tbody>
        </table>
      </div>
    </section>
    {% if user.is_authenticated %}
        <section id="adminSection">
        <div
            class="container w-75 d-flex flex-row border border-2 border-dark my-3"
        >
            <div class="w-50 mx-3 px-3 my-3 border border-dark border-2">
            <h5>Update Flower Price</h3>
            <form
                id="addPriceForm"
                class="w-50 d-flex flex-column justify-content-center m-1"
            >
                <label class="form-label" for="flowers">Choose Flower:</label>
                <select id="selectFlowers" name="flowers" class="form-select">
                <!-- dynamically generated by js and updates based on add/remove flowers -->
                </select>
                <label class="form-label" for="flowerPrice"
                >Flower Stem Price</label
                >
                <div
                class="d-flex flex-row align-items-center justify-content-center"
                >
                <p>$</p>
                <input
                    type="text"
                    class="form-control mx-1"
                    name="flowerPrice"
                    id="flowerPrice"
                />
                <p>/stem</p>
                </div>
                <button class="btn btn-primary my-1" type="submit">Submit</button>
            </form>
            </div>
            <div
            class="container w-50 d-flex flex-column border border-2 border-dark my-3 py-1"
        >
            <h3>Add New Flower</h3>
            <form id="addFlowerForm" enctype="multipart/form-data">
            <div class="my-1">
                <label for="name">Flower Name</label>
                <input id="name" type="text" class="form-control" name="name" />
            </div>
            <div class="my-1">
                <label for="type">Flower Type</label>
                <input id="type" type="text" class="form-control" name="type" />
            </div>
            <div class="my-1">
                <label for="image">Flower Image</label>
                <input id="image" type="file" class="form-control" name="image" />
            </div>
            <div>
                <label for="flowerPrice">Price</label>
                <input type="text" class="form-control" name="flowerPrice">
            </div>
            <div class="my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
            <div id="addFlowerResponse"></div>
        </div>
        </div>
        </section>
        <section>
            <div class="d-flex justify-content-center m-5">
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="logout" value="logout">
                </form>
            </div>
        </section>
    {% endif %}
    {% if not user.is_authenticated %}
        <section>
            <div class="d-flex justify-content-center m-5">
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </section>
    {% endif %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
